@import "http://yui.yahooapis.com/pure/0.2.0/pure-min.css";

@import url("http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700|Droid+Sans+Mono");

@import "../bower_components/bootstrap-sass/lib/_mixins";

$Fira: 'Fira Sans', sans-serif;
$Droid: 'Droid Sans Mono', monospace;

$fixedCellWidth: 120px;

$gradientDegree: 57deg;

$yellow: #fad961;
$orange: #f76b1c;

$blue: #32b5f2;
$darkBlue: #009fe9;

$lightGray: #f5f7f8;
$textGray: #545758;
$darkGray: #909ba7;
$darkestGray: #707a86;

@import "colors";
@import "modal";

body {
	font-family: $Fira;
  background: $lightGray;
  color: $textGray;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 960px;
	margin: auto;
}

.hero-unit {
    margin: 0 auto;
    padding: 20px;
    background: $orange;
    border: 1px solid $orangeDark;
}

.pull-left  { float: left; }
.pull-right { float: right; }

.middle { display: block; margin: auto; }
.center { text-align: center; }

.pure-u-1 {
	overflow: hidden;
}

.pure-u-1-2 {
	box-sizing: border-box;
	float: left;

	&:nth-of-type(2n) {
		padding-left: $modalPadding / 2;
	}
	&:nth-of-type(2n+1) {
		padding-right: $modalPadding / 2;
	}
}

.pure-menu {
	padding: 1em 0;

	.pure-menu-heading {
		font-weight: 700;
		line-height: 1em;
		padding: 0.2em 2em 0 0;
	}

	.pure-menu-subheading {
		display: inline-block;
		vertical-align: middle;

		width: 16em;
		margin-bottom: 0.2em;

		font-size: 1em;
		font-weight: 300;
		line-height: 1.3em;
	}

	ul {
		float: right;
		font-size: 20px;
		margin: 0;

		& > li > a {
			line-height: 1em;
			padding: 0.6em 0;
			margin-left: 2em;
			position: relative;
			color: $textGray;

			&:before {
				content: ' ';
				display: block;
				position: absolute;
				bottom: 0.3em;
				width: 0;
				height: 2px;
				@include gradient-directional($orange, $yellow, $gradientDegree);

				@include transition(width .3s ease-in-out);
			}

			&:hover {
				background: transparent;

				&:before {
					width: 100%;
				}
			}
		}
	}
}

.pure-form {
	textarea, input[type=text], button {
		font-size: 1em;
		font-family: $Droid;
		width: 100%;
	}

	.pure-input-3-4 {
		width: 72%;
	}
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: $green;
}

.pure-button-error {
    background: $maroon;
}

.pure-button-warning {
    background: $orange;
}

.pure-button-secondary {
    background: $ltblue;
}

ul.unstyled {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.inline {
	@extend ul.unstyled;
	li {
		display: inline-block;
		padding: 5px 10px;
	}
}

.table-row {
	display: table;

	& > * {
		display: table-cell;
		vertical-align: middle;
		padding-right: 10px;

		&:last-child, &.full {
			padding-right: 0;
		}
	}

	.fixed { width: 0; }
	.variable { width: 100%; }
}

#copyright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 0.7em;
	background: #ddd;
	padding: 2px 6px;
	border-radius: 3px;
	em {
		font-size: 1.5em;
		font-style: normal;
		line-height: normal;
		vertical-align: middle;
	}
}

$topHeight: 40%;
.section-top {
	background: white;
	box-shadow: 0 1px 2px rgba(black, 0.15);
}

.section-bottom {
}

#editor, #tests {
	font-size: 20px;

	.variable {
		box-sizing: border-box;
	}

	.fixed {
		font-size: 0.7em;
		padding-left: 5px;

		& > * {
			width: 120px;
		}
	}
}

#editor {
	padding: 1em 0;

	.expression {
		font-family: $Droid;
		font-size: 1.8em;
		box-sizing: border-box;
		position: relative;

		#regex {
			padding: 0.3em 1.3em;
			box-sizing: border-box;
			background: $lightGray;
			border: 3px solid white;
			border-radius: 6px;
			box-shadow: 0 0 0 1px rgba(black, 0.10) inset,
			            0 1px 2px rgba(black, 0.15) inset;

			@include transition(border 0.1s);

			&:focus {
				border-color: $orange;
				box-shadow: 0 1px 2px rgba(black, 0.15) inset;
			}
		}

		&:before, &:after {
			content: '/';
			position: absolute;
			top: 50%;
			font-size: 1em;
			@include translate(0, -50%);
		}
		&:before {
			left: 0.5em;
		}

		&:after {
			right: 0.7em;
		}
	}
	.modifiers {
		label {
			color: black;
		}
	}
}

#tests {
	header {
		border-bottom: 1px solid black;
		padding: 1em;

		form {
			overflow: hidden;
			> * {
				float: left;
				&:last-child {
					padding-left: 1em;
				}
			}
		}
	}

	.test {
		position: relative;
		padding: 1.5em;
		border-top: 1px solid white;
		border-bottom: 1px solid gray;

		.status {
			width: 1em;
			height: 1em;
			background: rgba(0,0,0,0.2);
			display: inline-block;
		}

		.matches {
			ol {
				margin-left: 5em;
				margin-bottom: 0;
				padding-left: 3em;
				border-left: 1px solid rgba(0,0,0,0.5);
			}
		}

		.actions {
			position: absolute;
			right: 15px;
			top: 1em;
		}
	}
}

#sheet {
	.modal {
		position: relative;
		top: 0;
		left: 0;
		margin: 30px auto;

		#popout { display: none; }
	}
}

.success {
	background: lighten($green, 30%);
}
.error {
	background: lighten($maroon, 30%);
}
