@import "http://yui.yahooapis.com/pure/0.2.0/pure-min.css";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700);

@import "../bower_components/bootstrap-sass/lib/_mixins";

@import "colors";
@import "modal";

body {
	font-family: 'Source Code Pro', monospace;
    background: #fafafa;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 970px;
	margin: auto;
}

.hero-unit {
    margin: 0 auto;
    padding: 20px;
    background: $orange;
    border: 1px solid $orangeDark;
}

.pull-left  { float: left; }
.pull-right { float: right; }

.middle { display: block; margin: auto; }
.center { text-align: center; }

.pure-menu {
	padding: 1em 0;

	.pure-menu-heading {
		font-size: 2em;
		font-weight: bold;
		padding-left: 1em;
	}

	.pure-menu-subheading {
		width: 22em;
		margin-right: 4em;
		font-size: 0.8em;
		display: inline-block;
		vertical-align: middle;
	}

	ul {
		text-transform: uppercase;
	}
}

.pure-form {
	input[type=text], button { 
		font-size: 1em; 
		font-family: 'Source Code Pro', monospace;
	}
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: $green;
}

.pure-button-error {
    background: $maroon;
}

.pure-button-warning {
    background: $orange;
}

.pure-button-secondary {
    background: $ltblue;
}

ul.unstyled {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.inline {
	@extend ul.unstyled;
	li {
		display: inline-block;
		padding: 5px 10px;
	}
}

.table-row {
	display: table;

	& > * {
		display: table-cell;
		vertical-align: top;
		padding-right: 10px;

		&:last-child, &.full {
			padding-right: 0;
		}
	}

	.fixed { width: 0; } 
	.variable { width: 100%; }
}

#editor {
	font-size: 20px;
	padding: 15px;
	background: $orange;
	border: 1px solid $orangeDark;

	textarea, input[type=text] {
		font-family: 'Source Code Pro', monospace;
		width: 100%;
		font-size: 1em;
	}
	#options {
		width: 100px;
	}

	.expression {
		font-size: 1.5em;
		box-sizing: border-box;
		position: relative;
		vertical-align: middle;

		#regex {
			padding: 10px 30px;
			box-sizing: border-box;
		}

		$slashSize: 40px;
		&:before, &:after {
			content: '/';
			position: absolute;
			top: 50%;
			font-size: $slashSize;
			line-height: $slashSize;
			margin-top: -$slashSize / 2 - 3px;
		}
		&:before {
			left: 10px;
		}

		&:after {
			right: 15px;
		}
	}
	.modifiers {
		vertical-align: middle;
		font-size: 0.7em;

		label {
			width: 120px;
			display: block;
			color: black;
		}
	}
}

#tests {
	form {
		padding: 15px;
		border-bottom: 1px solid black;
		text-align: center;
		font-size: 1.5em;
	}

	.test {
		position: relative;
		padding: 1.5em;
		border-top: 1px solid white;
		border-bottom: 1px solid gray;

		.status {
			width: 1em;
			height: 1em;
			background: rgba(0,0,0,0.2);
			display: inline-block;
		}

		.matches {
			ol {
				margin-left: 5em;
				margin-bottom: 0;
				padding-left: 3em;
				border-left: 1px solid rgba(0,0,0,0.5);
			}
		}

		.actions {
			position: absolute;
			right: 15px;
			top: 1em;
			// margin-top: -1em;
		}
	}
}

.success {
	background: lighten($green, 30%);
}
.error {
	background: lighten($maroon, 30%);
}
