@import "http://yui.yahooapis.com/pure/0.2.0/pure-min.css";
@import url("http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700|Droid+Sans+Mono");
.modal-backdrop { position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1000; background-color: black; }
.modal-backdrop.fade { -webkit-transition: opacity 0.3s linear; transition: opacity 0.3s linear; opacity: 0; }

.modal-backdrop, .modal-backdrop.fade.in { opacity: 0.8; filter: alpha(opacity=80); }

.modal { width: 750px; height: 740px; position: absolute; top: 50%; left: 50%; z-index: 1050; margin-top: -370px; margin-left: -375px; background: white; border-radius: 6px; border: 1px solid #f76b1c; box-sizing: border-box; }
.modal .modal-header { background: #f76b1c; height: 70px; text-align: center; position: absolute; top: 0; left: 0; right: 0; }
.modal .modal-header h1, .modal .modal-header h2, .modal .modal-header h3 { line-height: 1em; color: white; }
.modal .modal-body { box-sizing: border-box; padding: 1em; margin-top: 70px; max-height: 630px; overflow-y: auto; }
.modal .modal-footer { height: 40px; padding: 0.25em 1em; background: #f76b1c; color: white; text-align: center; border-radius: 0 0 6px 6px; }
.modal.fade { -webkit-transition: opacity 0.3s linear, top 0.3s ease-out; transition: opacity 0.3s linear, top 0.3s ease-out; top: -50%; }
.modal.fade.in { top: 50%; }

.modal-help label { display: inline-block; font-size: 1.2em; font-weight: 600; line-height: 1.3em; margin: .5em 0 .2em; }
.modal-help label:first-child { margin-top: 0; }
.modal-help table { width: 100%; }
.modal-help table .item, .modal-help table .ex { text-align: right; white-space: nowrap; font-family: "Droid Sans Mono", monospace; }
.modal-help table .item { color: #f76b1c; font-weight: 600; }
.modal-help table .item em, .modal-help table .item i { width: 1.4em; height: 1em; background: silver; display: inline-block; vertical-align: bottom; }
.modal-help table .item em.x2 { width: 2.8em; }
.modal-help table .item i { width: .6em; }
.modal-help table .ex { font-size: .8em; }
.modal-help #captures + table .item { min-width: 90px; }
.modal-help ul { display: inline-block; }

#editor { margin: 3em auto; overflow: visible; }
#editor .expression { font-family: "Droid Sans Mono", monospace; font-size: 1.8em; box-sizing: border-box; position: relative; margin: -3px -3px 15px; }
#editor .expression #regex { padding: 0.3em 1.3em; background: #f5f7f8; box-sizing: border-box; border: 3px solid white; border-radius: 6px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.15) inset; -webkit-transition: border 0.1s; transition: border 0.1s; }
#editor .expression #regex:focus { border-color: #f76b1c; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset; }
#editor .expression:before, #editor .expression:after { content: '/'; position: absolute; top: 50%; font-size: 1em; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }
#editor .expression:before { left: 0.5em; }
#editor .expression:after { right: 0.7em; }
#editor .modifiers li { padding: 0; }
#editor .modifiers input[type=checkbox] { position: absolute; left: -9999px; }
#editor .modifiers input[type=checkbox] + label { position: relative; color: black; margin: 0; line-height: 1em; cursor: pointer; margin-right: 2em; }
#editor .modifiers input[type=checkbox] + label:before { display: inline-block; content: ' '; width: 1em; height: 1em; margin-top: -0.1em; margin-right: 0.6em; vertical-align: top; text-align: center; background: #f5f7f8; border-radius: 3px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.15) inset; }
#editor .modifiers input[type=checkbox] + label:active:before { background: #e6ebee; }
#editor .modifiers input[type=checkbox]:checked + label:before { background: #707a86; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.25) inset; }
#editor .modifiers input[type=checkbox]:checked + label:active:before { background: #59616a; }
#editor .modifiers input[type=checkbox]:checked + label:after { display: inline-block; content: ' '; width: 1.4em; height: 1em; position: absolute; left: 1px; bottom: 4px; background-image: url("/images/tick2-02.svg"); }
#editor .info { font-size: 75%; line-height: 1em; text-align: center; padding-top: 1em; }
#editor .info a { color: inherit; text-decoration: none; opacity: 0.5; -webkit-transition: opacity 0.5s ease; transition: opacity 0.5s ease; }
#editor .info a:hover { opacity: 0.8; text-decoration: none; }

#switch { text-align: center; overflow: visible; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

.btn { position: relative; border: none; outline: none; padding: 0; color: #545758; font-family: "Fira Sans", sans-serif; font-size: 20px; width: 150px; height: 50px; text-shadow: 0 1px 0 white; background-image: -webkit-gradient(linear, left 0%, left 100%, from(white), to(#f5f7f8)); background-image: -webkit-linear-gradient(top, white 0%, #f5f7f8 100%); background-image: -moz-linear-gradient(top, white 0%, #f5f7f8 100%); background-image: linear-gradient(to bottom, white 0%, #f5f7f8 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF5F7F8', GradientType=0); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1); }
.btn:first-child { border-radius: 4px 0 0 4px; }
.btn:last-child { border-radius: 0 4px 4px 0; margin-left: -1px; }
.btn:active, .btn.active { color: white; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2) inset; background-image: -webkit-gradient(linear, left 0%, left 100%, from(#707a86), to(#909ba7)); background-image: -webkit-linear-gradient(top, #707a86 0%, #909ba7 100%); background-image: -moz-linear-gradient(top, #707a86 0%, #909ba7 100%); background-image: linear-gradient(to bottom, #707a86 0%, #909ba7 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF707A86', endColorstr='#FF909BA7', GradientType=0); z-index: 1; }

#tests header { padding: 1em 0; }
#tests header form { overflow: hidden; }
#tests header form .variable, #tests header form .fixed { padding: 0; }
#tests header form input { font-family: "Fira Sans", sans-serif; font-size: 24px; background: white; box-sizing: border-box; border: 3px solid #f5f7f8; border-radius: 6px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.15) inset; -webkit-transition: border 0.1s; transition: border 0.1s; height: 56px; border-radius: 6px 0 0 6px; width: 100%; }
#tests header form input:focus { border-color: #f76b1c; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset; }
#tests header form .btn { width: 150px; color: white; font-family: "Fira Sans", sans-serif; font-size: 20px; text-shadow: 0 1px 2px rgba(0, 38, 77, 0.3); background-image: -webkit-gradient(linear, left 0%, left 100%, from(#32b5f2), to(#009fe9)); background-image: -webkit-linear-gradient(top, #32b5f2 0%, #009fe9 100%); background-image: -moz-linear-gradient(top, #32b5f2 0%, #009fe9 100%); background-image: linear-gradient(to bottom, #32b5f2 0%, #009fe9 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF32B5F2', endColorstr='#FF009FE9', GradientType=0); }
#tests .tests { border: 1px solid #909ba7; border-radius: 6px; margin-bottom: 3em; }
#tests .test { position: relative; padding: 1em; padding-left: 2em; border-bottom: 1px solid gray; background: white; line-height: 1em; }
#tests .test:first-child { border-radius: 6px 6px 0 0; }
#tests .test:first-child .status { border-radius: 6px 0 0 0; }
#tests .test:last-child { border-radius: 0 0 6px 6px; border-bottom: none; }
#tests .test:last-child .status { border-radius: 0 0 0 6px; }
#tests .test:first-child:last-child { border-radius: 6px; }
#tests .test:first-child:last-child .status { border-radius: 6px 0 0 6px; }
#tests .test > strong { color: #f76b1c; }
#tests .test .status { position: absolute; top: 0; left: 0; bottom: 0; width: 1em; }
#tests .test .matches ol { margin-left: 5em; margin-bottom: 0; padding-left: 3em; border-left: 1px solid rgba(0, 0, 0, 0.5); }
#tests .test .actions { position: absolute; top: 0; bottom: 0; right: 0; display: none; }
#tests .test .actions li { height: 50%; border-left: 1px solid #909ba7; }
#tests .test .actions li button { width: 100%; height: 100%; color: #545758; background: none; border-radius: 0; }
#tests .test .actions li + li { border-top: 1px solid #909ba7; }
#tests .test:hover .actions { display: block; }

body { font-family: "Fira Sans", sans-serif; background: #f5f7f8; color: #545758; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.container { width: 960px; margin: auto; }

.hero-unit { margin: 0 auto; padding: 20px; background: #f76b1c; border: 1px solid #b37300; }

.pull-left { float: left; }

.pull-right { float: right; }

.middle { display: block; margin: auto; }

.center { text-align: center; }

.pure-u-1 { overflow: hidden; }

.pure-u-1-2 { box-sizing: border-box; float: left; }
.pure-u-1-2:nth-of-type(2n) { padding-left: 0.5em; }
.pure-u-1-2:nth-of-type(2n+1) { padding-right: 0.5em; }

.pure-menu .pure-menu-heading { font-weight: 700; line-height: 1em; padding: 0.2em 2em 0 0; }
.pure-menu .pure-menu-subheading { display: inline-block; vertical-align: middle; width: 16em; margin-bottom: 0.2em; font-size: 1em; font-weight: 300; line-height: 1.3em; }
.pure-menu ul { float: right; font-size: 20px; margin: 0; }
.pure-menu ul > li > a { line-height: 1em; padding: 0.6em 0; margin-left: 2em; position: relative; color: #545758; }
.pure-menu ul > li > a:before { content: ' '; display: block; position: absolute; bottom: 0.3em; width: 0; height: 2px; background-repeat: repeat-x; background-image: -webkit-linear-gradient(57deg, #f76b1c, #fad961); background-image: -moz-linear-gradient(57deg, #f76b1c, #fad961); background-image: linear-gradient(57deg, #f76b1c, #fad961); -webkit-transition: width 0.3s ease-in-out; transition: width 0.3s ease-in-out; }
.pure-menu ul > li > a:hover { background: transparent; }
.pure-menu ul > li > a:hover:before { width: 100%; }
.pure-menu li > a { background: rgba(255, 252, 250, 0); -webkit-transition: background 0.3s ease; transition: background 0.3s ease; }
.pure-menu li > a:hover { background: #fccbb0; }

.pure-form textarea, .pure-form input[type=text], .pure-form button { font-size: 1em; font-family: "Droid Sans Mono", monospace; width: 100%; }

.pure-button-success, .pure-button-error, .pure-button-warning, .pure-button-secondary { color: white; border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.pure-button-success { background: #1cb841; }

.pure-button-error { background: #ca3c3c; }

.pure-button-warning { background: #f76b1c; }

.pure-button-secondary { background: #42b8dd; }

ul.unstyled, ul.inline { margin: 0; padding: 0; list-style-type: none; }

ul.inline li { display: inline-block; padding: 5px 10px; }

.table-row { display: table; }
.table-row > .fixed, .table-row > .variable { display: table-cell; vertical-align: middle; padding-right: 10px; }
.table-row > .fixed:last-child, .table-row > .fixed.full, .table-row > .variable:last-child, .table-row > .variable.full { padding-right: 0; }
.table-row .fixed { width: 0; }
.table-row .variable { width: 100%; }

#copyright { position: fixed; bottom: 10px; right: 10px; font-size: 0.7em; background: #ddd; padding: 2px 6px; border-radius: 3px; }
#copyright em { font-size: 1.5em; font-style: normal; line-height: normal; vertical-align: middle; }

.section-top { background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
.section-top:before, .section-top:after { content: " "; /* 1 */ display: table; /* 2 */ }
.section-top:after { clear: both; }

#navbar { margin: 3em auto; }

#editor, #tests { font-size: 20px; }
#editor .variable, #tests .variable { box-sizing: border-box; }
#editor .fixed, #tests .fixed { font-size: 0.7em; padding-left: 5px; }
#editor .fixed > *, #tests .fixed > * { width: 120px; }

#sheet .modal { position: relative; top: 0; left: 0; margin: 30px auto; }
#sheet .modal #popout { display: none; }

.success .status { background: #81ec9a; }

.error .status { background: #ebb4b4; }
