<div class="actions">
	<button class="pure-button pure-button-primary">Run</button>
	<button class="pure-button pure-button-secondary">Edit</button>
	<button class="pure-button pure-button-error">Delete</button>
</div>
