<ul class="actions unstyled">
	<li>
        <button class="pure-button pure-button-secondary">Edit</button>
    </li>
	<li>
        <button class="pure-button pure-button-error">Delete</button>
    </li>
</ul>
