<div class="regex pure-form">
	<div class="expression pure-row">
		<input type="text" name="regex" id="regex" rows="3" autofocus placeholder="r[aeiou]g[aeiou]x{3}"></textarea>
	</div>
	<ul class="modifiers pure-row inline">
		<li>
			<input type="checkbox" name="global" id="g">
			<label for="g" class="pure-checkbox">
				<strong>G</strong>lobal
			</label>
		</li>
		<li>
			<input type="checkbox" name="multiline" id="m">
			<label for="m" class="pure-checkbox">
				<strong>M</strong>ultiline
			</label>
		</li>
		<li>
			<input type="checkbox" name="ignore" id="i">
			<label for="i" class="pure-checkbox">
				<strong>I</strong>gnore case
			</label>
		</li>
	</ul>
</div>
<div class="alert alert-error hide" id="error"></div>
