<div class="regex table-row">
	<div class="expression variable">
		<input name="regex" id="regex" rows="3" autofocus></textarea>
	</div>
	<div class="modifiers fixed">
		<input type="text" name="options" id="options"/>
	</div>
</div>
<div class="alert alert-error hide" id="error"></div>