<div class="modal-header">
	<h1>Regular Expressions Cheat Sheet</h1>
</div>
<div class="modal-body pure-g pure-u-1">
	<div class="pure-u-1-2">
		<label id="regex">Regular Expressions</label>
		{{> help-table regex}}

		<label id="characters">Characters</label>
		{{> help-table characters}}

		<label id="repeaters">Repeaters</label>
		{{> help-table repeaters}}
	</div>
	<div class="pure-u-1-2">
		<label id="classes">Character Classes</label>
		{{> help-table classes}}

		<label id="captures">Captures</label>
		{{> help-table captures}}

		<label>
			Pretty simple, right?
			<a href="#/learn">NO</a>
		</label>
	</div>
</div>
<div class="modal-footer">
	More Information:
	<ul class="inline">
		<li><a href="http://www.visibone.com/regular-expressions/" target="_blank">Visual Cheat Sheet</a></li>
		<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp" target="_blank">RegExp Documentation (MDN)</a></li>
	</ul>
</div>
