<div class="section-top">
  <div id="navbar" class="pure-u-1 container"></div>
  <div id="editor" class="pure-u-1 container"></div>
</div>
<div class="section-bottom">
  <div id="switch" class="pure-u-1 container"></div>
  <div id="tests" class="pure-u-1 container"></div>
  <div id="build" class="pure-u-1 container"></div>
</div>
