<div class="{{#pure 'menu' 'open' 'horizontal'}}{{/pure}}">
	<a href="#" class="pure-menu-heading">
		regex.js
	</a>
	<div class="pure-menu-subheading">
		Build and test regular expressions from the comfort of your browser!
	</div>
	<ul>
		<li class="pure-menu-selected"><a href="#">compose</a></li>
		<li><a href="" id="learn">learn</a></li>
		<li><a href="">login</a></li>
		<li><a href="">feedback</a></li>
	</ul>
</div>
