<div class="{{#pure 'menu' 'open' 'horizontal'}}{{/pure}}">
	<a href="#" class="pure-menu-heading">
		<svg id="logo"  width="200px" height="44px">
	    <defs>
	        <linearGradient x1="155.458682%" y1="100%" x2="0%" y2="0%" id="linearGradient-1">
	            <stop stop-color="#FBDA61" offset="0%"></stop>
	            <stop stop-color="#F76B1C" offset="100%"></stop>
	        </linearGradient>
	    </defs>
	    <text id="REGEX.JS" fill="url(#linearGradient-1)" font-family="Fira Sans" font-size="48" font-weight="bold">
	        <tspan x="0" y="80%">REGEX.JS</tspan>
	    </text>
		</svg>
	</a>
	<div class="pure-menu-subheading">
		Build and test regular expressions from the comfort of your browser!
	</div>
	<ul>
		<li><a href="" id="learn">Cheat Sheet</a></li>
		<li><a href="" id="feedback">Feedback</a></li>
		<li><a href="https://github.com/giladgray/regexjs" target="_blank">GitHub</a></li>
	</ul>
</div>
