<form id="new-test" class="pure-form pure-form-inline">
	<label for="test-string">Create a New Test</label>
	<input type="text" id="test-string" class="pure-input-1-2">
	<button class="pure-button">+ Test</button>
</form>

<ul class="tests unstyled">
	{{#each tests}}
		{{#with attributes}}
			{{> test}}
		{{/with}}
	{{/each}}
</ul>
