<li class="test {{status}}">
	{{> actions}}
	<div class="status"></div>
	{{{stringFormat}}}
	{{#unless string}}&nbsp;{{/unless}}
	{{#if match}}
		<div class="matches">
			<strong class="pull-left">Captures</strong>
			<ol class="inline">
			{{#each match}}
				<li>{{this}}</li>
			{{/each}}
			</ol>
		</div>
	{{/if}}
</li>
